
@model Nortwind.Entities.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
     @Html.EditorForModel()
     <input type="submit" value="Save" />
}